<% header = BlogHeader.first %>
<section class="header-section px-0">
  <video autoplay loop muted playsinline preload="auto" class="header-video">
    <% if header.video.attached? %>
      <source type="video/mp4" src="<%= url_for(header.video) %>">
    <% else %>
      <source type="video/mp4" src="<%= asset_path('header-law.mp4') %>">
    <% end %>
  </video>
  <div class="overlay"></div>

  <div class="container-fluid">
    <div class="header-content text-center text-white">
      <h1 class="blog-header-title display-4"><%= header.title %></h1>
      <h3 class="blog-header-subtitle mt-3"><%= header.subtitle %></h3>
      <p class="blog-header-description mt-4 lead"><%= header.description %></p>
    </div>
  </div>
</section>
