<section class="team-section" id="team_section">
  <div class="section-heading">
    <div>Meet Our Expert</div>
    <div>Our Committed and Talented Young Energetic Team</div>
  </div>
  <div class="team-card-container mt-3">
    <div>
      <div class="profile-div-1 d-flex gap-2 justify-content-between align-items-end position-relative">
        <div class="profile-overlay position-relative">
            <%= image_tag ("1.ankur.png"), class: "profile-img" %>
        </div>
        <div class="text-center">
          <div>Adv <br /> Ayush Bharadwaj</div>
            <%= image_tag ("arrow.png"), class: "arrow-img" %>
        </div>
        <div class="profile-overlay position-relative">
            <%= image_tag ("2.surbhi.png"), class: "profile-img" %>
        </div>
        <div class="text-center">
          <div>Adv <br /> Mohit Soni</div>
            <%= image_tag ("arrow.png"), class: "arrow-img" %>
        </div>
        <div class="profile-overlay position-relative">
            <%= image_tag ("3.risabh.png"), class: "profile-img" %>
        </div>
      </div>
      <div class="team-rectangle-div d-flex gap-2 justify-content-between align-items-center">
        <div>Managing Partner</div>
        <div>Senior Associate</div>
        <div>Partner</div>
        <div>Senior Associate</div>
        <div>Partner</div>
      </div>
      <div class="profile-div-2 d-flex gap-2 justify-content-between align-items-start position-relative">
        <div class="text-center">
            <%= image_tag ("arrow.png"), class: "arrow-img" %>
            <div>Adv <br /> Ankur Pastor</div>
        </div>
        <div class="profile-overlay position-relative">
            <%= image_tag ("4.ayush.png"), class: "profile-img" %>
        </div>
        <div class="text-center">
          <%= image_tag ("arrow.png"), class: "arrow-img" %>
          <div>Adv <br /> Shubhi Dubey</div>
        </div>
        <div class="profile-overlay position-relative">
          <%= image_tag ("5.mohit.png"), class: "profile-img" %>
        </div>
        <div class="text-center">
          <%= image_tag ("arrow.png"), class: "arrow-img" %>
          <div>Adv <br /> Rishabh Mishra</div>
        </div>
      </div>
    </div>
    <div class="team-second-div">
      <div class="profile-div-1 d-flex gap-2 justify-content-between align-items-end position-relative">
        <div class="profile-overlay position-relative">
          <%= image_tag ("6.kanishka.png"), class: "profile-img" %>
          </div>
        <div class="text-center">
          <div>Adv <br /> Aviral Aind</div>
          <%= image_tag ("arrow.png"), class: "arrow-img" %>
        </div>
        <div class="profile-overlay position-relative">
          <%= image_tag ("7.khushi.png"), class: "profile-img" %>
        </div>
        <div class="text-center">
          <div>Adv <br /> Hemant Bishnoi</div>
          <%= image_tag ("arrow.png"), class: "arrow-img" %>
        </div>
        <div class="profile-overlay position-relative">
          <%= image_tag ("8.akshita.png"), class: "profile-img" %>
        </div>
      </div>
      <div class="team-rectangle-div d-flex gap-2 justify-content-between align-items-center">
        <div>Associate</div>
        <div>Associate</div>
        <div>Associate</div>
        <div>Associate</div>
        <div>Associate</div>
      </div>
      <div class="profile-div-2 d-flex gap-2 justify-content-between align-items-start position-relative">
        <div class="text-center">
          <%= image_tag ("arrow.png"), class: "arrow-img" %>
          <div>Adv <br /> Kanishka Jain</div>
        </div>
        <div class="profile-overlay position-relative">
          <%= image_tag ("9.aviral.png"), class: "profile-img" %>
        </div>
        <div class="text-center">
          <%= image_tag ("arrow.png"), class: "arrow-img" %>
          <div>Adv <br /> Khushi Palawat</div>
        </div>
        <div class="profile-overlay position-relative">
          <%= image_tag ("10.hemant.png"), class: "profile-img" %>
        </div>
        <div class="text-center">
          <%= image_tag ("arrow.png"), class: "arrow-img" %>
          <div>Adv <br /> Akshita Singh</div>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-team-card-container mt-3">
    <div class="d-flex gap-3 align-items-center justify-content-center px-3 w-full">
      <div class="mobile-profile-div text-center">
          <%= image_tag ("1.ankur.png") %>
          <div class="mobile-profile-name mt-2 mb-1 px-2">Adv Ankur Pastor</div>
          <div class="mobile-profile-post px-2 pb-2">Managing Partner</div>
      </div>
      <div class="mobile-profile-div text-center">
          <%= image_tag ("2.surbhi.png") %>
          <div class="mobile-profile-name mt-2 mb-1 px-2">Adv Surbhi Dubey</div>
          <div class="mobile-profile-post px-2 pb-2">Partner</div>
      </div>
      <div class="mobile-profile-div text-center">
          <%= image_tag ("3.risabh.png") %>
          <div class="mobile-profile-name mt-2 mb-1 px-2">Adv Rishabh Mishra</div>
          <div class="mobile-profile-post px-2 pb-2">Partner</div>
      </div>
    </div>
    <div class="text-center mt-4">
        <a href="team.html" class="custom-btn">View More</a>
    </div>
  </div>
</section>
