<!DOCTYPE html>
<html lang="en">
<head>
  <!-- META SECTION -->
  <title><%= current_site.the_title %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- END META SECTION -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Innovis Law Partners</title>
  <%= stylesheet_link_tag theme_asset_path("css/main.css") %>
  <%= stylesheet_link_tag theme_asset_path ("css/bootstrap.css") %>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat%3A400%2C700&ver=4.2.2">
  <%= javascript_include_tag theme_asset_path("js/main.js") %>
  <%= javascript_include_tag theme_asset_path("js/bootstrap.js") %>
  <%= raw the_head %>
</head>
<body>
  <%= render partial: "partials/navbar"%>
  <%= yield %>
  <%= render partial: "partials/footer"%>
</body>
</html>
